

<h1>Discount <%= @discount.id %> for <%= @discount.merchant.name %></h1>
<%= "#{@discount.to_percent}% off #{@discount.threshold} items" %>
<%= link_to "Edit this discount", "/merchants/#{@discount.merchant.id}/discounts/#{@discount.id}/edit" %>
